{% load i18n %}

{% if is_paginated %}
<div class="col-lg-12">
<ul class="pagination">
    {% if page_obj.has_previous %}
        <li class="paginate_button">
            <span><a href="{{getparams}}page={{ page_obj.previous_page_number }}">{% trans 'Previous' %}</a></span>
        </li>
    {% endif %}
        <li class="paginate_button">
            <span>{% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }}.</span>
        </li>
    {% if page_obj.has_next %}
        <li class="paginate_button">
            <span><a href="{{getparams}}page={{ page_obj.next_page_number }}">{% trans 'Next' %}</a></span>
        </li>
{% endif %}
</ul>
</div>
{% endif %}
