{% load i18n %}
{% load crud_tags %}
  <h1>{% trans "Remove" %} {{ object }}?</h1>

  <form
  data-replace-inner="#{{name}}_editList"
  data-ajax-submit="" data-refresh-inner="#{{name}}_myList" onsubmit="return false;"
   action="{% crud_inline_url base_model object 'delete' namespace %}" method="POST">
    {% csrf_token %}

    
     <button type="submit" class="btn btn-danger">{% trans "Confirm remove" %}</button>
   	 <a data-replace-inner="#{{name}}_myList" 
		data-ajax="" data-success="function(){}"
		data-href="{% crud_inline_url base_model object 'list' namespace %}"  class="btn btn-warning">{% trans "Cancel" %}</button>
  </form>

