*.py[cod]

# C extensions
*.so

# Packages
.eggs
*.egg
*.egg-info
/dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
tests/reports

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build
.settings/

# editors
.vscode/*

demo/db.sqlite3
demo/demo-venv
tests/reports/
