{% extends "cruds/base.html" %}
{% load i18n %}
{% load crud_tags %}

{% block title %}{% trans "List of" %} {{ model_verbose_name_plural|lower }}{% endblock %}
{% block body_class %}{{ model_verbose_name_plural|lower }}{% endblock body_class %}
{% block page_name %}{{ model_verbose_name_plural }}{% endblock %}
{% block page_description %}{% trans "List of" %} {{ model_verbose_name_plural|lower }}{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                {% if url_create %}
                <div class="box-header">
                    <a href="{{ url_create }}" class="btn btn-primary">
                        {% trans "Create new " %} {{ model_verbose_name|lower }}</a>
                </div>
                {% endif %}
                <div class="box-body">
                    <table id="datatable" class="table table-bordered table-hover">
                    {% if object_list %}
                        <thead>
                            {% block thead %}
                            {% for field, field_name in fields.items %}
                            <th>{{ field_name }}</th>
                            {% endfor %}
                            <th>{% trans "Actions" %}</th>
                            {% endblock thead %}
                        </thead>
                        <tbody>
                          {% block tbody %}
                          {% for object in object_list %}
                            <tr>
                              {% for field, typefield in fields_with_types.items %}
                              <td>
                                {% with column=typefield|lower|add:".html" %}
                                    {% include "cruds/columns/"|add:column %}
                                {% endwith %}
                                {# typefield #}
                              </td>
                              {% endfor %}
                              <td>

                                  <form style="display:inline;"
                                      action={{ object.crud_delete_url }}
                                      method="post"
                                      onsubmit="return confirm('{% trans "Are you sure you want to delete" %} {{ object }}?')">{% csrf_token %}
                                      {% crud_url object "update" as url %}
                                      {% if url %}
                                      <a href="{{ url }}" class="btn btn-primary">{% trans "Edit" %}</a>
                                      {% endif %}
                                      {% crud_url object "delete" as url_delete %}
                                      {% if url_delete %}
                                      <a href="{{ url_delete }}" class="btn btn-danger">{% trans "Delete" %}</a>
                                      {% endif %}
                                      </form>
                              </td>
                            </tr>
                          {% endfor %}
                          {% endblock tbody %}
                        </tbody>
                    {% else %}
                      <thead><th></th></thead>
                      <tbody><tr><td>{% trans "No items yet." %}</td></tr></tbody>
                    {% endif %}
                    </table>
                </div>
                <div class="box-footer"></div>
            </div>
        </div>
    </div>
{% endblock content %}
