{% extends "cruds/base.html" %}
{% load i18n %}
{% load crud_tags %}

{% block title %}{% trans "Update" %} {{ model_verbose_name_plural|lower }}{% endblock %}
{% block body_class %}{{ model_verbose_name_plural|lower }}{% endblock body_class %}
{% block page_name %}{{ model_verbose_name_plural }}{% endblock %}
{% block page_description %}{% trans "Update" %} {{ model_verbose_name_plural|lower }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <a href="{{ url_list }}">
            <i class="fa fa-angle-double-left"></i>
            {% trans "Back to" %} {{ model_verbose_name_plural|lower }}
        </a>
        <br /><br />        
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">{% trans "Edit" %} {{ model_verbose_name }}</h3>
            </div>
            {% include "cruds/_form.html" with action='update' %}

          {% if inlines%}
			<hr>
			{% for inline in inlines%}
			<h2 class="text-center"> {{inline.title}}</h2>
		<div id="{{inline.name}}_father">
			<div data-refresh-url="{% crud_inline_url form.instance inline.model 'list' namespace %}" id="{{inline.name}}_myList">
				{% if 'list' in inline.views_available %}
				<a id="{{inline.name}}_btn" data-replace-inner="#{{inline.name}}_myList" 
				data-ajax="" data-success="function(){}"
				data-href="{% crud_inline_url form.instance inline.model 'list' namespace %}">
					<i class='fa fa-spinner fa-spin '></i>
				</a>
				<script>
				$("#{{inline.name}}_btn").click();
				</script>
				
				{% endif %}
			</div>
			<div id="{{inline.name}}_editList"></div>
			{% if 'create' in inline.views_available %}
			<button class="btn btn-sucesss" 
			data-href="{% crud_inline_url form.instance inline.model 'create' namespace %}" 
				data-replace-inner="#{{inline.name}}_editList" 
				data-ajax="" data-success="function(){}" >
				{% trans 'Create' %}
			</button>
			{% endif %}
		</div>
	
			
			{% endfor %}
        {% endif %}
        </div>        
    </div>
</div>
{% endblock %}

